<?php include 'include/head.php' ?>

<div class="container">
  <div class="row">

    <div class="col-lg-12 push-top">
      <div class="jumbotron">
        <h1>Watch-Movies</h1>
        <p>
          Watch-Movies est un service de streaming pour tous les films existants ! Avec des notes, des critiques, des bandes d'annonces ! Tout ça gratuit !
        </p>
        <p>
          <a class="btn btn-success btn-lg" href="/" role="button">Consulter la base de données de films gratuitement !</a>
        </p>
      </div>
    </div>

    <div class="col-lg-6">
      <div class="page-header">
        <h1>Connexion</h1>
      </div>

      <form class="form-horizontal">
        <div class="form-group">
          <label for="signup-email" class="col-sm-4 control-label">Email</label>
          <div class="col-sm-8">
            <input type="email" class="form-control" id="signup-email" placeholder="Email">
          </div>
        </div>

        <div class="form-group">
          <label for="signup-password" class="col-sm-4 control-label">Mot de passe</label>
          <div class="col-sm-8">
            <input type="password" class="form-control" id="signup-password" placeholder="Mot de passe">
          </div>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-4 col-sm-10">
            <button type="submit" class="btn btn-primary">Connexion</button>
          </div>
        </div>

      </form>
    </div>

    <div class="col-lg-6">
      <div class="page-header">
        <h1>Inscription</h1>
      </div>
      <!--TODO : add Form -->

    </div>

  </div>
</div>