<div class="row">
  <div class="col-lg-12"><h1>Search results</h1></div>
  <% @movies.each do |movie| %>
      <div class="col-lg-2 col-md-3 col-sm-12 movie text-center">
        <a href="<%=platform_movie_path(movie.slug)%>">
          <img src="<%= movie.url_thumbnail %>">
          <div>
            <span class="title-movie"><%= movie.name %></span>
            <a href="#">
              <span class="label label-warning"><%= movie.category.name %></span>
            </a>
          </div>
        </a>
      </div>
  <% end %>
</div>
