<div class="container">
  <div class="row">
    <div class="page-header">
      <h1>Liste des catégories
        <small><%= @categories.size %></small>
      </h1>
    </div>
    <% @categories.each do |category| %>
        <div class="col-xs-6 col-md-3">
          <div class="thumbnail">
            <img src="<%= category.picture_url %>>">
            <div class="caption">
              <h3><a href="<%= platform_categories_movies_path(category.slug)%>"><%= category.name %></a></h3>
            </div>
          </div>
        </div>
    <% end %>
  </div>
</div>
